body{
	background-color: #f4f6f7;
	font-family: Calibri, Helvetica, Sans-Serif;
}	
h1 {
	font-family: Arial;
}
h2 {
	border: #000000 solid 3px;
	margin: 10px;
	padding: 10px 5px 10px 5px;
}
h3 {
	font-weight: bold;
	font-style: italic;
}	
span {
	color:  #ff2d00;
	border-bottom: 1px solid red;
}
ul {
	list-style-type: circle;
	border:  #ff2d00 solid 3px;
}
section {
		 border: #808080 solid 2px;
		 margin: 10px;
		 padding: 5px 5px 5px 5px;
		 background-color: #d8d8d8;
}

