body{
	background:	#555555;
	font-family:	calibri;
}
#wrap{
	position:	absolute;
	top:		50px;
	left:		30%;
}
#backbox{
	background:	#44aa44;
	padding:		5px;
	border-radius:	8px;
	overflow:		auto;
}
#main{
	float:		left;
	margin:		10px;
}
#welcome{
	background:	#44ff44;
	padding:		1px 10px 2px 10px;
	border-radius:	5px;
}
#links{
	float:			left;
	background:	#44ff44;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px;
}
#text{
  float:			left;
	width:			360px;
	background:	#44ff44;
	margin-top:	5px;
	margin-left:	5px;
	padding:		0px 10px;
	border-radius:	5px;
}
#picture{
	background:		#ffffff;
	border-radius:		5px;
	float:				left;
	padding:			5px;
	padding-bottom:	0px;
	margin-top:		15px;
}
#secondary{
	float:		left;
	clear:		left;
	margin:		5px;
}
#appbox{
	background: 		#ffffff;
	border-radius: 	8px;
	margin: 			5px;
	padding: 			5px;
	overflow: 			auto;
}
#apps{
  
}
#BMI{
	float:			left;
	clear:			left;
	background:	#bbb;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
}
#Calc{
	float:			left;
	background:	#bbb;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
}
#apphead{
	float:			left;
	background:	#bbb;
	padding:		0px 10px;
	border-radius:	5px; 
}
#activeApp
{
	float:			left;
	background:	#bbb;	
	clear:			left;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
}
#calculator
{
	visibility:	hidden;
	position:		fixed;
	left:			-100;
	clear:			left;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
}
.calcB
{
	float:			left;
	background:	#bbb;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
	width: 			38px;
	margin-right:	4px;
}
.calcD
{
	float:			left;
	background:	#bbb;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px; 
	width: 			80px;
	margin-right:	4px;
}
#one{
	clear:	left;
}
#four{
	clear:	left;
}
#seven{
	clear:	left;
}
#zero{
	clear:	left;
}
#equals{
	float:			left;
	background:	#bbb;
	margin-top:	5px;
	padding:		10px;
	border-radius:	5px;
	width: 			80px;
	margin-right:	4px;
}
img{
	height:	82px;
}
a:hover{
	color:				#006600;
	text-decoration:	none;
}
a:visited{
	color:				#000000;
	text-decoration:	none;
}
a{
	font-family:		arial;
	color:				#000000;
	text-decoration:	none;
}