body {
    font-family: "Calibri";
    font-size: 16pt;
    color: #7F0000;
    margin: 20px 40px;
    background-color: #BFBFBF;
}
header {
    background-color: #FF7BAC;
    color: #FFFFFF;
    border-bottom: 8px solid #0071BC;
}
header h1 {
    font-size: 160%;
    margin: 16px;
    display: inline-block;
}
header img {
    width: 15%;
    margin-right: 60px;
    float: right;
}
nav {
    margin-top: 5px;
    font-size: 80%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav a {
  margin: 6px;
}
a {
    text-decoration: none;
    color: #7F0000;
}
a:hover {
    color: #FF7BAC;
    font-weight: bold;
}
main {
    background-color: #EAEAEA;
}
main img {
    width: 30%;
    float: left;
}
main p {
    margin: 40px 60px;
    font-size: 80%;
}
footer {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 70%;
}
input {
    margin-bottom: 30px;
}
select {
    margin-bottom: 30px;
}
h2 {
    margin: 0;
    font-size: 80%;
}
label {
    font-size: 70%;
}
li {
    margin-left: 20px;
}
.bnr {
    font-size: 120%;
    font-weight: bold;
    display: inline;
}
