
body {
		background-color: #eeeeee;
		font-family: calibri, arial, sans-serif;
		color:#000000;
		font-size: 20px;
		}
		
#nojava {
		color: #fd2288;
		font-size: 1.2em;
		}
	
#thema {
		color: #550022;
		font-family: arial, sans-serif;
		border-bottom: 2px dotted #333333;
		}

#ausgabe{
		color: #550022;
		font-family: arial, sans-serif;
		font-size: 0.8em;
		border: 1px dotted;
		padding: 10px;
		margin-right: 200px;
		}		
	
	
