body {
		background-color: #eee;
		font-family: calibri, sans-serif;
		font-size: 20px;
		}
.topnav {
	background-color: #ff0000;
	overflow: hidden;
}
.topnav a {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;

}
  .topnav a:hover {
	background-color: #808080;
	color: #ffffff;
}
  .topnav a.active {
	background-color: #000000;
	color: #ffffff;
}
.head{
	font-size: 30pt;
	font-weight: bold;
	
}
img.head{
	
}
.content{
	padding-top: 30px;
}
